<div class="card">
  <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Products
        <p-button (click)="showDialog()" icon="pi pi-plus" label="Crear"></p-button>
        <p-button (click)="refreshData()" icon="pi pi-refresh"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{product.name}}</td>
        <td><img [src]="product.image" [alt]="product.name" width="100" class="shadow-4" /></td>
        <td>{{product.price | currency:'USD'}}</td>
        <td>{{product.category}}</td>
        <td>{{product.stock}} und</td>
        <td>
          <p-toast></p-toast>
          <p-confirmPopup></p-confirmPopup>
          <p-button (click)="confirmDelete($event, product)" styleClass="p-button-danger" icon="pi pni-trash"
            label="Eliminar"></p-button>
          <p-button (click)="showDialog(product)" styleClass="p-button-success" icon="pi pni-external-lik"
            label="Actualizar"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Hay un total de {{products ? products.length : 0 }} productos.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Mantenimiento Producto" [(visible)]="visible" [modal]="true" [style]="{ width: '45vw' }"
  [draggable]="false" [resizable]="false">
  <div class="flex flex-column gap-4 pt-4 justify-content-center">
    <span class="p-float-label align-self-center">
      <input type="text" placeholder='Nombre' pInputText [(ngModel)]="tempProduct.name" />
      <label>Nombre</label>
    </span>
    <span class="p-float-label align-self-center">
      <textarea type="text" placeholder='Descripcion' pInputText [(ngModel)]="tempProduct.description"></textarea>
      <label>Descripcion</label>
    </span>
    <span class="p-float-label align-self-center">
      <p-inputNumber mode="currency" currency="USD" placeholder='Precio'  [(ngModel)]="tempProduct.price" ></p-inputNumber>
      <label>Precio</label>
    </span>
    <span class="p-float-label align-self-center">
      <p-inputNumber placeholder='Cantidad'  suffix=" unidades" [(ngModel)]="tempProduct.stock" ></p-inputNumber>
      <label>Cantidad</label>
    </span>
    <span class="p-float-label align-self-center">
      <input type="text" placeholder='Categoria' pInputText [(ngModel)]="tempProduct.category" />
      <label>Categoria</label>
    </span>
    <span class="p-float-label align-self-center">
      <input type="text" placeholder='Imagen' pInputText [(ngModel)]="tempProduct.image" />
      <label>Imagen</label>
    </span>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Cancel" (click)="visible = false" styleClass="p-button-danger"></p-button>
    <p-button label="Ok" (click)="action()" styleClass="p-button-success"></p-button>
  </ng-template>
</p-dialog>